In [1]:
from pymongo import MongoClient

import pandas as pd 
import requests
import io

In [2]:
MONGO_URI = "mongodb://{dbuser}:{dbpassword}@ds253918.mlab.com:53918/signature"
MONGO_URI = MONGO_URI.format(dbuser='admin', dbpassword='user123')

conn = MongoClient(MONGO_URI, retryWrites="false")
db = conn.get_default_database()

In [4]:
covid_kr_gender_df = pd.read_csv('./gender_data.csv', encoding='utf-8')
covid_kr_gender_df.head()

         date  m_confirmed  m_death  f_confirmed  f_death
0  2020-04-02         3905       82         5881       80
1  2020-04-07         4138      101         6193       91
2  2020-04-08         4163      106         6221       94
3  2020-04-09         4185      107         6238       97
4  2020-04-10         4200      109         6250       99

In [5]:
covid_kr_gender_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         202 non-null    object
 1   m_confirmed  202 non-null    int64
 2   m_death      202 non-null    int64
 3   f_confirmed  202 non-null    int64
 4   f_death      202 non-null    int64
dtypes: int64(4), object(1)
memory usage: 8.0+ KB

In [7]:
covid_kr_gender_df.date = pd.to_datetime(covid_kr_gender_df.date)
covid_kr_gender_df.head()

        date  m_confirmed  m_death  f_confirmed  f_death
0 2020-04-02         3905       82         5881       80
1 2020-04-07         4138      101         6193       91
2 2020-04-08         4163      106         6221       94
3 2020-04-09         4185      107         6238       97
4 2020-04-10         4200      109         6250       99

In [9]:
for elem in covid_kr_gender_df.iloc[0]: print(str(elem))

2020-04-02 00:00:00
3905
82
5881
80

In [10]:
db_gender = db['gender']

In [11]:
doc = {col: None for col in covid_kr_gender_df.columns} 
doc

{'date': None,
 'm_confirmed': None,
 'm_death': None,
 'f_confirmed': None,
 'f_death': None}

In [12]:
for i in range(5):
    row = covid_kr_gender_df.iloc[i] 
    doc['date'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = v 
    print(doc)

{'date': '2020-04-02', 'm_confirmed': 3905, 'm_death': 82, 'f_confirmed': 5881, 'f_death': 80}
{'date': '2020-04-07', 'm_confirmed': 4138, 'm_death': 101, 'f_confirmed': 6193, 'f_death': 91}
{'date': '2020-04-08', 'm_confirmed': 4163, 'm_death': 106, 'f_confirmed': 6221, 'f_death': 94}
{'date': '2020-04-09', 'm_confirmed': 4185, 'm_death': 107, 'f_confirmed': 6238, 'f_death': 97}
{'date': '2020-04-10', 'm_confirmed': 4200, 'm_death': 109, 'f_confirmed': 6250, 'f_death': 99}

In [13]:
# 2
doc_list_gender = list() 
for i in range(len(covid_kr_gender_df)): 
    row = covid_kr_gender_df.iloc[i] 
    doc = {col: None for col in covid_kr_gender_df.columns} 
    doc['date'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = str(v)
    doc_list_gender.append(doc)
db_gender.insert_many(doc_list_gender)

In [15]:
# doc_list_gender

In [18]:
for elem in db_gender.find({})[:5]: print(elem)

{'_id': ObjectId('5fa106b2802169b3f28e10e1'), 'date': '2020-04-02', 'm_confirmed': '3905', 'm_death': '82', 'f_confirmed': '5881', 'f_death': '80'}
{'_id': ObjectId('5fa106b2802169b3f28e10e2'), 'date': '2020-04-07', 'm_confirmed': '4138', 'm_death': '101', 'f_confirmed': '6193', 'f_death': '91'}
{'_id': ObjectId('5fa106b2802169b3f28e10e3'), 'date': '2020-04-08', 'm_confirmed': '4163', 'm_death': '106', 'f_confirmed': '6221', 'f_death': '94'}
{'_id': ObjectId('5fa106b2802169b3f28e10e4'), 'date': '2020-04-09', 'm_confirmed': '4185', 'm_death': '107', 'f_confirmed': '6238', 'f_death': '97'}
{'_id': ObjectId('5fa106b2802169b3f28e10e5'), 'date': '2020-04-10', 'm_confirmed': '4200', 'm_death': '109', 'f_confirmed': '6250', 'f_death': '99'}