In [1]:
from pymongo import MongoClient

import pandas as pd 
import requests
import io

In [2]:
MONGO_URI = "mongodb://{dbuser}:{dbpassword}@ds253918.mlab.com:53918/signature"
MONGO_URI = MONGO_URI.format(dbuser='admin', dbpassword='user123')

conn = MongoClient(MONGO_URI, retryWrites="false")
db = conn.get_default_database()

In [33]:
# kr_age_csv = "https://raw.githubusercontent.com/qorwlgns11123/covid19/main/age_data.csv"
# csv_content = requests.get(kr_age_csv).content
# covid_kr_age_df = pd.read_csv(io.StringIO(csv_content.decode('utf-8'))) 
covid_kr_age_df = pd.read_csv('./age_data.csv', encoding='utf-8')
covid_kr_age_df.head()

,date,0s_confirmed,0s_death,10s_confirmed,10s_death,20s_confirmed,20s_death,30s_confirmed,30s_death,40s_confirmed,40s_death,50s_confirmed,50s_death,60s_confirmed,60s_death,70s_confirmed,70s_death,80s_over_confirmed,80s_over_death
0,2020-04-02,112,0,515,0,2656,0,1012,1,1312,1,1851,10,1235,22,651,46,442,82
1,2020-04-07,126,0,544,0,2819,0,1092,1,1382,2,1909,13,1304,26,689,57,466,93
2,2020-04-08,126,0,548,0,2832,0,1102,1,1387,3,1915,13,1312,27,692,60,470,96
3,2020-04-09,128,0,552,0,2844,0,1109,1,1394,3,1917,13,1314,27,692,60,473,100
4,2020-04-10,129,0,553,0,2851,0,1113,1,1396,3,1920,13,1320,28,694,62,474,101

In [4]:
covid_kr_age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                202 non-null    object
 1   0s_confirmed        202 non-null    int64
 2   0s_death            202 non-null    int64
 3   10s_confirmed       202 non-null    int64
 4   10s_death           202 non-null    int64
 5   20s_confirmed       202 non-null    int64
 6   20s_death           202 non-null    int64
 7   30s_confirmed       202 non-null    int64
 8   30s_death           202 non-null    int64
 9   40s_confirmed       202 non-null    int64
 10  40s_death           202 non-null    int64
 11  50s_confirmed       202 non-null    int64
 12  50s_death           202 non-null    int64
 13  60s_confirmed       202 non-null    int64
 14  60s_death           202 non-null    int64
 15  70s_confirmed       202 non-null    int64
 16  70s_death           202 non-null    int64
 17  80s_over_confirmed  202 non-null    int64
 18  80s_over_death      202 non-null    int64
dtypes: int64(18), object(1)
memory usage: 30.1+ KB

In [6]:
covid_kr_age_df.date = pd.to_datetime(covid_kr_age_df.date)
covid_kr_age_df.head()

,date,0s_confirmed,0s_death,10s_confirmed,10s_death,20s_confirmed,20s_death,30s_confirmed,30s_death,40s_confirmed,40s_death,50s_confirmed,50s_death,60s_confirmed,60s_death,70s_confirmed,70s_death,80s_over_confirmed,80s_over_death
0,2020-04-02,112,0,515,0,2656,0,1012,1,1312,1,1851,10,1235,22,651,46,442,82
1,2020-04-07,126,0,544,0,2819,0,1092,1,1382,2,1909,13,1304,26,689,57,466,93
2,2020-04-08,126,0,548,0,2832,0,1102,1,1387,3,1915,13,1312,27,692,60,470,96
3,2020-04-09,128,0,552,0,2844,0,1109,1,1394,3,1917,13,1314,27,692,60,473,100
4,2020-04-10,129,0,553,0,2851,0,1113,1,1396,3,1920,13,1320,28,694,62,474,101

In [7]:
covid_kr_age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                202 non-null    datetime64[ns]
 1   0s_confirmed        202 non-null    int64
 2   0s_death            202 non-null    int64
 3   10s_confirmed       202 non-null    int64
 4   10s_death           202 non-null    int64
 5   20s_confirmed       202 non-null    int64
 6   20s_death           202 non-null    int64
 7   30s_confirmed       202 non-null    int64
 8   30s_death           202 non-null    int64
 9   40s_confirmed       202 non-null    int64
 10  40s_death           202 non-null    int64
 11  50s_confirmed       202 non-null    int64
 12  50s_death           202 non-null    int64
 13  60s_confirmed       202 non-null    int64
 14  60s_death           202 non-null    int64
 15  70s_confirmed       202 non-null    int64
 16  70s_death           202 non-null    int64
 17  80s_over_confirmed  202 non-null    int64
 18  80s_over_death      202 non-null    int64
dtypes: datetime64[ns](1), int64(18)
memory usage: 30.1 KB

In [8]:
for elem in covid_kr_age_df.iloc[0]: print(str(elem))

2020-04-02 00:00:00
112
0
515
0
2656
0
1012
1
1312
1
1851
10
1235
22
651
46
442
82

In [9]:
db_age = db['age']

In [10]:
doc = {col: None for col in covid_kr_age_df.columns} 
doc

{'date': None,
 '0s_confirmed': None,
 '0s_death': None,
 '10s_confirmed': None,
 '10s_death': None,
 '20s_confirmed': None,
 '20s_death': None,
 '30s_confirmed': None,
 '30s_death': None,
 '40s_confirmed': None,
 '40s_death': None,
 '50s_confirmed': None,
 '50s_death': None,
 '60s_confirmed': None,
 '60s_death': None,
 '70s_confirmed': None,
 '70s_death': None,
 '80s_over_confirmed': None,
 '80s_over_death': None}

In [16]:
# for i in range(0, len(covid_kr_age_df)): 
for i in range(5):
    row = covid_kr_age_df.iloc[i] 
    doc['date'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = v 
    print(doc)

{'date': '2020-04-02', '0s_confirmed': 112, '0s_death': 0, '10s_confirmed': 515, '10s_death': 0, '20s_confirmed': 2656, '20s_death': 0, '30s_confirmed': 1012, '30s_death': 1, '40s_confirmed': 1312, '40s_death': 1, '50s_confirmed': 1851, '50s_death': 10, '60s_confirmed': 1235, '60s_death': 22, '70s_confirmed': 651, '70s_death': 46, '80s_over_confirmed': 442, '80s_over_death': 82}
{'date': '2020-04-07', '0s_confirmed': 126, '0s_death': 0, '10s_confirmed': 544, '10s_death': 0, '20s_confirmed': 2819, '20s_death': 0, '30s_confirmed': 1092, '30s_death': 1, '40s_confirmed': 1382, '40s_death': 2, '50s_confirmed': 1909, '50s_death': 13, '60s_confirmed': 1304, '60s_death': 26, '70s_confirmed': 689, '70s_death': 57, '80s_over_confirmed': 466, '80s_over_death': 93}
{'date': '2020-04-08', '0s_confirmed': 126, '0s_death': 0, '10s_confirmed': 548, '10s_death': 0, '20s_confirmed': 2832, '20s_death': 0, '30s_confirmed': 1102, '30s_death': 1, '40s_confirmed': 1387, '40s_death': 3, '50s_confirmed': 1915, '50s_death': 13, '60s_confirmed': 1312, '60s_death': 27, '70s_confirmed': 692, '70s_death': 60, '80s_over_confirmed': 470, '80s_over_death': 96}
{'date': '2020-04-09', '0s_confirmed': 128, '0s_death': 0, '10s_confirmed': 552, '10s_death': 0, '20s_confirmed': 2844, '20s_death': 0, '30s_confirmed': 1109, '30s_death': 1, '40s_confirmed': 1394, '40s_death': 3, '50s_confirmed': 1917, '50s_death': 13, '60s_confirmed': 1314, '60s_death': 27, '70s_confirmed': 692, '70s_death': 60, '80s_over_confirmed': 473, '80s_over_death': 100}
{'date': '2020-04-10', '0s_confirmed': 129, '0s_death': 0, '10s_confirmed': 553, '10s_death': 0, '20s_confirmed': 2851, '20s_death': 0, '30s_confirmed': 1113, '30s_death': 1, '40s_confirmed': 1396, '40s_death': 3, '50s_confirmed': 1920, '50s_death': 13, '60s_confirmed': 1320, '60s_death': 28, '70s_confirmed': 694, '70s_death': 62, '80s_over_confirmed': 474, '80s_over_death': 101}

In [20]:
# 2
doc_list_age = list() 
for i in range(len(covid_kr_age_df)): 
    row = covid_kr_age_df.iloc[i] 
    doc = {col: None for col in covid_kr_age_df.columns} 
    doc['date'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = str(v)
    doc_list_age.append(doc)
db_age.insert_many(doc_list_age)

In [18]:
# doc_list_age

In [35]:
for elem in db_age.find({})[:5]: print(elem)

{'_id': ObjectId('5fa0a5d30d5cecc02164d000'), 'date': '2020-04-02', '0s_confirmed': '112', '0s_death': '0', '10s_confirmed': '515', '10s_death': '0', '20s_confirmed': '2656', '20s_death': '0', '30s_confirmed': '1012', '30s_death': '1', '40s_confirmed': '1312', '40s_death': '1', '50s_confirmed': '1851', '50s_death': '10', '60s_confirmed': '1235', '60s_death': '22', '70s_confirmed': '651', '70s_death': '46', '80s_over_confirmed': '442', '80s_over_death': '82'}
{'_id': ObjectId('5fa0a5d30d5cecc02164d001'), 'date': '2020-04-07', '0s_confirmed': '126', '0s_death': '0', '10s_confirmed': '544', '10s_death': '0', '20s_confirmed': '2819', '20s_death': '0', '30s_confirmed': '1092', '30s_death': '1', '40s_confirmed': '1382', '40s_death': '2', '50s_confirmed': '1909', '50s_death': '13', '60s_confirmed': '1304', '60s_death': '26', '70s_confirmed': '689', '70s_death': '57', '80s_over_confirmed': '466', '80s_over_death': '93'}
{'_id': ObjectId('5fa0a5d30d5cecc02164d002'), 'date': '2020-04-08', '0s_confirmed': '126', '0s_death': '0', '10s_confirmed': '548', '10s_death': '0', '20s_confirmed': '2832', '20s_death': '0', '30s_confirmed': '1102', '30s_death': '1', '40s_confirmed': '1387', '40s_death': '3', '50s_confirmed': '1915', '50s_death': '13', '60s_confirmed': '1312', '60s_death': '27', '70s_confirmed': '692', '70s_death': '60', '80s_over_confirmed': '470', '80s_over_death': '96'}
{'_id': ObjectId('5fa0a5d30d5cecc02164d003'), 'date': '2020-04-09', '0s_confirmed': '128', '0s_death': '0', '10s_confirmed': '552', '10s_death': '0', '20s_confirmed': '2844', '20s_death': '0', '30s_confirmed': '1109', '30s_death': '1', '40s_confirmed': '1394', '40s_death': '3', '50s_confirmed': '1917', '50s_death': '13', '60s_confirmed': '1314', '60s_death': '27', '70s_confirmed': '692', '70s_death': '60', '80s_over_confirmed': '473', '80s_over_death': '100'}
{'_id': ObjectId('5fa0a5d30d5cecc02164d004'), 'date': '2020-04-10', '0s_confirmed': '129', '0s_death': '0', '10s_confirmed': '553', '10s_death': '0', '20s_confirmed': '2851', '20s_death': '0', '30s_confirmed': '1113', '30s_death': '1', '40s_confirmed': '1396', '40s_death': '3', '50s_confirmed': '1920', '50s_death': '13', '60s_confirmed': '1320', '60s_death': '28', '70s_confirmed': '694', '70s_death': '62', '80s_over_confirmed': '474', '80s_over_death': '101'}