In [11]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

In [12]:
url_confirmed = 'https://tradingeconomics.com/country-list/coronavirus-cases'
url_deaths = 'https://tradingeconomics.com/country-list/coronavirus-deaths'
url_recovered = 'https://tradingeconomics.com/country-list/coronavirus-recovered'

In [13]:
table_confirmed = pd.read_html(url_confirmed)
table_deaths = pd.read_html(url_deaths)
table_recovered = pd.read_html(url_recovered)

In [14]:
df_confirmed = table_confirmed[0]
df_deaths = table_deaths[0]
df_recovered = table_recovered[0]

In [15]:
df_confirmed.head()

         Country      Last  Previous Reference     Unit
0          World  40251950  39955064    Oct/20  Persons
1  United States   8274797   8214755    Oct/20  Persons
2          India   7651107   7597063    Oct/20  Persons
3         Brazil   5273954   5250727    Oct/20  Persons
4         Russia   1431635   1415316    Oct/20  Persons

In [16]:
df_deaths.head()

         Country     Last  Previous Reference     Unit
0          World  1116131   1112103    Oct/20  Persons
1  United States   221076    220133    Oct/20  Persons
2         Brazil   154837    154176    Oct/20  Persons
3          India   115914    115197    Oct/20  Persons
4         Mexico    86893     86338    Oct/20  Persons

In [17]:
df_recovered.head()

         Country      Last  Previous Reference     Unit
0          World  28174708  28174708    Oct/20      NaN
1          India   6795103   6733328    Oct/20  Persons
2         Brazil   4721593   4681659    Oct/20  Persons
3  United States   3646309   3646309    Oct/20  Persons
4         Russia   1085608   1075904    Oct/20  Persons

In [ ]:
# 세계 누적환진자, 사망자, 완치자 현황

In [18]:
df_cumulated = table_confirmed[0]

In [19]:
df_cumulated = df_cumulated.drop(['Last', 'Previous','Reference', 'Unit'], axis=1)

In [20]:
df_cumulated['Confirmed'] = df_confirmed['Last']
df_cumulated['Deaths'] = df_deaths['Last']
df_cumulated['Recovered'] = df_recovered['Last']

In [21]:
df_cumulated

           Country  Confirmed   Deaths   Recovered
0            World   40251950  1116131  28174708.0
1    United States    8274797   221076   6795103.0
2            India    7651107   154837   4721593.0
3           Brazil    5273954   115914   3646309.0
4           Russia    1431635    86893   1085608.0
..             ...        ...      ...         ...
171           Fiji         32        0        26.0
172     East Timor         29        0        24.0
173        Grenada         27        0        14.0
174  New Caledonia         27        0         0.0
175      Greenland         16        0         NaN

[176 rows x 4 columns]

In [22]:
df_cumulated.fillna(0, inplace=True)
df_cumulated.isnull().sum()

Country      0
Confirmed    0
Deaths       0
Recovered    0
dtype: int64

In [23]:
df_cumulated.to_csv("Covid19_World_data_cumulated_2020_10_21.csv", index=False)

In [ ]:
# 세계 일일확진자 및 사망자 현황

In [24]:
def calculation(Last, Previous):
    result = Last-Previous
    return result

In [25]:
df_daily = table_confirmed[0]

In [26]:
df_daily = df_daily.drop(['Unit', 'Reference', 'Last', 'Previous'], axis=1)

In [27]:
df_daily

           Country
0            World
1    United States
2            India
3           Brazil
4           Russia
..             ...
171           Fiji
172     East Timor
173        Grenada
174  New Caledonia
175      Greenland

[176 rows x 1 columns]

In [28]:
df_daily['Confirmed_Daily'] = df_confirmed.apply(lambda x:calculation(x['Last'], x['Previous']), axis=1)
df_daily['Deaths_Daily'] = df_deaths.apply(lambda x:calculation(x['Last'], x['Previous']), axis=1)
df_daily['Recovered_Daily'] = df_recovered.apply(lambda x:calculation(x['Last'], x['Previous']), axis=1)

In [29]:
df_daily.fillna(0, inplace=True)
df_daily.isnull().sum()

Country            0
Confirmed_Daily    0
Deaths_Daily       0
Recovered_Daily    0
dtype: int64

In [30]:
df_daily.head()

         Country  Confirmed_Daily  Deaths_Daily  Recovered_Daily
0          World           296886          4028              0.0
1  United States            60042           943          61775.0
2          India            54044           661          39934.0
3         Brazil            23227           717              0.0
4         Russia            16319           555           9704.0

In [31]:
df_daily.to_csv("Covid19_World_data_daily_2020_10_21.csv", index=False)