In [81]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

In [82]:
url_confirmed = 'https://tradingeconomics.com/country-list/coronavirus-cases?continent=g20'
url_deaths = 'https://tradingeconomics.com/country-list/coronavirus-deaths?continent=g20'
url_recovered = 'https://tradingeconomics.com/country-list/coronavirus-recovered?continent=g20'

In [83]:
table_confirmed = pd.read_html(url_confirmed)
table_deaths = pd.read_html(url_deaths)
table_recovered = pd.read_html(url_recovered)

In [84]:
df_confirmed = table_confirmed[0]
df_deaths = table_deaths[0]
df_recovered = table_recovered[0]

In [85]:
df_confirmed.head()

         Country     Last  Previous Reference     Unit
0  United States  8946876   8856413    Oct/20  Persons
1          India  8088851   8040203    Oct/20  Persons
2         Brazil  5494376   5468270    Oct/20  Persons
3         Russia  1599976   1581693    Oct/20  Persons
4         France  1250705   1203068    Oct/20  Persons

In [86]:
df_deaths.head()

          Country    Last  Previous Reference     Unit
0   United States  228669    227685    Oct/20  Persons
1          Brazil  158969    158456    Oct/20  Persons
2           India  121090    120527    Oct/20  Persons
3          Mexico   90773     90309    Oct/20  Persons
4  United Kingdom   46229     45955    Oct/20  Persons

In [87]:
df_recovered.head()

         Country     Last  Previous Reference     Unit
0          India  7373375   7315989    Oct/20  Persons
1         Brazil  4954159   4934548    Oct/20  Persons
2  United States  3963256   3928503    Oct/20  Persons
3         Russia  1200560   1186041    Oct/20  Persons
4      Argentina   946134    931147    Oct/20  Persons

In [9]:
# 세계 누적환진자, 사망자, 완치자 현황

In [88]:
df_cumulated = table_confirmed[0]

In [89]:
df_cumulated = df_cumulated.drop(['Last', 'Previous','Reference', 'Unit'], axis=1)

In [90]:
df_cumulated['Confirmed'] = df_confirmed['Last']
df_cumulated['Deaths'] = df_deaths['Last']
df_cumulated['Recovered'] = df_recovered['Last']

In [91]:
df_cumulated

           Country  Confirmed  Deaths  Recovered
0    United States    8946876  228669    7373375
1            India    8088851  158969    4954159
2           Brazil    5494376  121090    3963256
3           Russia    1599976   90773    1200560
4           France    1250705   46229     946134
5            Spain    1185678   38122     668667
6        Argentina    1130533   35878     649935
7   United Kingdom     989745   35719     334295
8           Mexico     912811   30071     333409
9     South Africa     721770   27656     329068
10           Italy     616595   19164     322465
11         Germany     499694   13701     279282
12       Indonesia     404048   10349     191209
13          Turkey     370832   10177     150376
14    Saudi Arabia     346482   10032     115287
15     Netherlands     330255    7258      92549
16          Canada     225586    5363      80967
17     Switzerland     144558    4634      57899
18           Japan      99622    1984      34400
19           China      91852    1769      25080
20       Singapore      57994     907      24227
21       Australia      27569     463        344
22     South Korea      26385      28        250

In [92]:
df_cumulated.fillna(0, inplace=True)
df_cumulated.isnull().sum()

Country      0
Confirmed    0
Deaths       0
Recovered    0
dtype: int64

In [15]:
df_cumulated.to_csv("Covid19_World_G20_data_cumulated_2020_10_31.csv", index=False)

In [ ]:
# 세계 일일확진자 및 사망자 현황

In [93]:
def calculation(Last, Previous):
    result = Last-Previous
    return result

In [94]:
df_daily = table_confirmed[0]

In [95]:
df_daily = df_daily.drop(['Unit', 'Reference','Last', 'Previous'], axis=1)

In [96]:
from datetime import datetime

In [19]:
df_daily['Date'] = datetime.today()

In [97]:
df_daily['Date'] = datetime.today().strftime("%Y-%m-%d")

In [98]:
df_daily

           Country        Date
0    United States  2020-10-31
1            India  2020-10-31
2           Brazil  2020-10-31
3           Russia  2020-10-31
4           France  2020-10-31
5            Spain  2020-10-31
6        Argentina  2020-10-31
7   United Kingdom  2020-10-31
8           Mexico  2020-10-31
9     South Africa  2020-10-31
10           Italy  2020-10-31
11         Germany  2020-10-31
12       Indonesia  2020-10-31
13          Turkey  2020-10-31
14    Saudi Arabia  2020-10-31
15     Netherlands  2020-10-31
16          Canada  2020-10-31
17     Switzerland  2020-10-31
18           Japan  2020-10-31
19           China  2020-10-31
20       Singapore  2020-10-31
21       Australia  2020-10-31
22     South Korea  2020-10-31

In [99]:
df_daily['Confirmed_Daily'] = df_confirmed.apply(lambda x:calculation(x['Last'], x['Previous']), axis=1)
df_daily['Deaths_Daily'] = df_deaths.apply(lambda x:calculation(x['Last'], x['Previous']), axis=1)
df_daily['Recovered_Daily'] = df_recovered.apply(lambda x:calculation(x['Last'], x['Previous']), axis=1)

In [100]:
df_daily.fillna(0, inplace=True)
df_daily.isnull().sum()

Country            0
Date               0
Confirmed_Daily    0
Deaths_Daily       0
Recovered_Daily    0
dtype: int64

In [101]:
df_daily.head()

         Country        Date  Confirmed_Daily  Deaths_Daily  Recovered_Daily
0  United States  2020-10-31            90463           984            57386
1          India  2020-10-31            48648           513            19611
2         Brazil  2020-10-31            26106           563            34753
3         Russia  2020-10-31            18283           464            14519
4         France  2020-10-31            47637           274            14987

In [50]:
df_daily.to_csv("Covid19_World_G20_data_daily_2020_10_31.csv", index=False)

In [102]:
from pymongo import MongoClient

MONGO_URI = "mongodb://{dbuser}:{dbpassword}@ds253918.mlab.com:53918/signature"
MONGO_URI = MONGO_URI.format(dbuser='admin', dbpassword='user123')

conn = MongoClient(MONGO_URI, retryWrites="false")
db = conn.get_default_database()

In [ ]:
# DB Insert Process(df_daily)

In [103]:
db.list_collection_names()

['news', 'sample', 'cumulated', 'system.indexes', 'daily']

In [104]:
import pandas as pd 
import requests
import io

In [105]:
df_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          23 non-null     object
 1   Date             23 non-null     object
 2   Confirmed_Daily  23 non-null     int64
 3   Deaths_Daily     23 non-null     int64
 4   Recovered_Daily  23 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.0+ KB

In [106]:
for elem in df_daily.iloc[0]: print(str(elem))

United States
2020-10-31
90463
984
57386

In [108]:
db_daily = db['daily']

In [109]:
doc = {col: None for col in df_daily.columns} 
doc

{'Country': None,
 'Date': None,
 'Confirmed_Daily': None,
 'Deaths_Daily': None,
 'Recovered_Daily': None}

In [111]:
# for i in range(len(corona_kr_daily_df)): 
for i in range(0, len(df_daily)): 
    row = df_daily.iloc[i] 
    doc['Country'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = v 
    print(doc)

{'Country': 'United', 'Date': '2020-10-31', 'Confirmed_Daily': 90463, 'Deaths_Daily': 984, 'Recovered_Daily': 57386}
{'Country': 'India', 'Date': '2020-10-31', 'Confirmed_Daily': 48648, 'Deaths_Daily': 513, 'Recovered_Daily': 19611}
{'Country': 'Brazil', 'Date': '2020-10-31', 'Confirmed_Daily': 26106, 'Deaths_Daily': 563, 'Recovered_Daily': 34753}
{'Country': 'Russia', 'Date': '2020-10-31', 'Confirmed_Daily': 18283, 'Deaths_Daily': 464, 'Recovered_Daily': 14519}
{'Country': 'France', 'Date': '2020-10-31', 'Confirmed_Daily': 47637, 'Deaths_Daily': 274, 'Recovered_Daily': 14987}
{'Country': 'Spain', 'Date': '2020-10-31', 'Confirmed_Daily': 25595, 'Deaths_Daily': 217, 'Recovered_Daily': 5028}
{'Country': 'Argentina', 'Date': '2020-10-31', 'Confirmed_Daily': 13924, 'Deaths_Daily': 239, 'Recovered_Daily': 1281}
{'Country': 'United', 'Date': '2020-10-31', 'Confirmed_Daily': 24405, 'Deaths_Daily': 235, 'Recovered_Daily': 4517}
{'Country': 'Mexico', 'Date': '2020-10-31', 'Confirmed_Daily': 5948, 'Deaths_Daily': 341, 'Recovered_Daily': 404}
{'Country': 'South', 'Date': '2020-10-31', 'Confirmed_Daily': 2056, 'Deaths_Daily': 355, 'Recovered_Daily': 4762}
{'Country': 'Italy', 'Date': '2020-10-31', 'Confirmed_Daily': 26829, 'Deaths_Daily': 53, 'Recovered_Daily': 1703}
{'Country': 'Germany', 'Date': '2020-10-31', 'Confirmed_Daily': 18681, 'Deaths_Daily': 89, 'Recovered_Daily': 3878}
{'Country': 'Indonesia', 'Date': '2020-10-31', 'Confirmed_Daily': 3565, 'Deaths_Daily': 77, 'Recovered_Daily': 2342}
{'Country': 'Turkey', 'Date': '2020-10-31', 'Confirmed_Daily': 2319, 'Deaths_Daily': 78, 'Recovered_Daily': 5593}
{'Country': 'Saudi', 'Date': '2020-10-31', 'Confirmed_Daily': 435, 'Deaths_Daily': 31, 'Recovered_Daily': 1310}
{'Country': 'Netherlands', 'Date': '2020-10-31', 'Confirmed_Daily': 934, 'Deaths_Daily': 66, 'Recovered_Daily': 568}
{'Country': 'Canada', 'Date': '2020-10-31', 'Confirmed_Daily': 2699, 'Deaths_Daily': 15, 'Recovered_Daily': 24}
{'Country': 'Switzerland', 'Date': '2020-10-31', 'Confirmed_Daily': 9361, 'Deaths_Daily': 1, 'Recovered_Daily': 9}
{'Country': 'Japan', 'Date': '2020-10-31', 'Confirmed_Daily': 770, 'Deaths_Daily': 31, 'Recovered_Daily': 7600}
{'Country': 'China', 'Date': '2020-10-31', 'Confirmed_Daily': 31, 'Deaths_Daily': 8, 'Recovered_Daily': 13}
{'Country': 'Singapore', 'Date': '2020-10-31', 'Confirmed_Daily': 7, 'Deaths_Daily': 2, 'Recovered_Daily': 59}
{'Country': 'Australia', 'Date': '2020-10-31', 'Confirmed_Daily': 15, 'Deaths_Daily': 1, 'Recovered_Daily': -10387}
{'Country': 'South', 'Date': '2020-10-31', 'Confirmed_Daily': 114, 'Deaths_Daily': 1, 'Recovered_Daily': -890}

In [122]:
# Method 1: inert one by one 
for i in range(len(df_daily)): 
    row = df_daily.iloc[i] 
    doc = {col: None for col in df_daily.columns} 
    doc['Country'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = str(v)
    db_daily.insert_one(doc)

In [113]:
# Method 2: inert all at once : Faster than one by one
doc_list_daily = list() 
for i in range(len(df_daily)): 
    row = df_daily.iloc[i] 
    doc = {col: None for col in df_daily.columns} 
    doc['Country'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = str(v)
    doc_list_daily.append(doc)

In [114]:
doc_list_daily

[{'Country': 'United',
  'Date': '2020-10-31',
  'Confirmed_Daily': '90463',
  'Deaths_Daily': '984',
  'Recovered_Daily': '57386'},
 {'Country': 'India',
  'Date': '2020-10-31',
  'Confirmed_Daily': '48648',
  'Deaths_Daily': '513',
  'Recovered_Daily': '19611'},
 {'Country': 'Brazil',
  'Date': '2020-10-31',
  'Confirmed_Daily': '26106',
  'Deaths_Daily': '563',
  'Recovered_Daily': '34753'},
 {'Country': 'Russia',
  'Date': '2020-10-31',
  'Confirmed_Daily': '18283',
  'Deaths_Daily': '464',
  'Recovered_Daily': '14519'},
 {'Country': 'France',
  'Date': '2020-10-31',
  'Confirmed_Daily': '47637',
  'Deaths_Daily': '274',
  'Recovered_Daily': '14987'},
 {'Country': 'Spain',
  'Date': '2020-10-31',
  'Confirmed_Daily': '25595',
  'Deaths_Daily': '217',
  'Recovered_Daily': '5028'},
 {'Country': 'Argentina',
  'Date': '2020-10-31',
  'Confirmed_Daily': '13924',
  'Deaths_Daily': '239',
  'Recovered_Daily': '1281'},
 {'Country': 'United',
  'Date': '2020-10-31',
  'Confirmed_Daily': '24405',
  'Deaths_Daily': '235',
  'Recovered_Daily': '4517'},
 {'Country': 'Mexico',
  'Date': '2020-10-31',
  'Confirmed_Daily': '5948',
  'Deaths_Daily': '341',
  'Recovered_Daily': '404'},
 {'Country': 'South',
  'Date': '2020-10-31',
  'Confirmed_Daily': '2056',
  'Deaths_Daily': '355',
  'Recovered_Daily': '4762'},
 {'Country': 'Italy',
  'Date': '2020-10-31',
  'Confirmed_Daily': '26829',
  'Deaths_Daily': '53',
  'Recovered_Daily': '1703'},
 {'Country': 'Germany',
  'Date': '2020-10-31',
  'Confirmed_Daily': '18681',
  'Deaths_Daily': '89',
  'Recovered_Daily': '3878'},
 {'Country': 'Indonesia',
  'Date': '2020-10-31',
  'Confirmed_Daily': '3565',
  'Deaths_Daily': '77',
  'Recovered_Daily': '2342'},
 {'Country': 'Turkey',
  'Date': '2020-10-31',
  'Confirmed_Daily': '2319',
  'Deaths_Daily': '78',
  'Recovered_Daily': '5593'},
 {'Country': 'Saudi',
  'Date': '2020-10-31',
  'Confirmed_Daily': '435',
  'Deaths_Daily': '31',
  'Recovered_Daily': '1310'},
 {'Country': 'Netherlands',
  'Date': '2020-10-31',
  'Confirmed_Daily': '934',
  'Deaths_Daily': '66',
  'Recovered_Daily': '568'},
 {'Country': 'Canada',
  'Date': '2020-10-31',
  'Confirmed_Daily': '2699',
  'Deaths_Daily': '15',
  'Recovered_Daily': '24'},
 {'Country': 'Switzerland',
  'Date': '2020-10-31',
  'Confirmed_Daily': '9361',
  'Deaths_Daily': '1',
  'Recovered_Daily': '9'},
 {'Country': 'Japan',
  'Date': '2020-10-31',
  'Confirmed_Daily': '770',
  'Deaths_Daily': '31',
  'Recovered_Daily': '7600'},
 {'Country': 'China',
  'Date': '2020-10-31',
  'Confirmed_Daily': '31',
  'Deaths_Daily': '8',
  'Recovered_Daily': '13'},
 {'Country': 'Singapore',
  'Date': '2020-10-31',
  'Confirmed_Daily': '7',
  'Deaths_Daily': '2',
  'Recovered_Daily': '59'},
 {'Country': 'Australia',
  'Date': '2020-10-31',
  'Confirmed_Daily': '15',
  'Deaths_Daily': '1',
  'Recovered_Daily': '-10387'},
 {'Country': 'South',
  'Date': '2020-10-31',
  'Confirmed_Daily': '114',
  'Deaths_Daily': '1',
  'Recovered_Daily': '-890'}]

In [123]:
for elem in db_daily.find({})[:5]: print(elem)

{'_id': ObjectId('5f9d069cf925a333cd33d54f'), 'Country': None, 'Date': '2020-10-31', 'Confirmed_Daily': '90463', 'Deaths_Daily': '984', 'Recovered_Daily': '57386'}
{'_id': ObjectId('5f9d069cf925a333cd33d550'), 'Country': None, 'Date': '2020-10-31', 'Confirmed_Daily': '48648', 'Deaths_Daily': '513', 'Recovered_Daily': '19611'}
{'_id': ObjectId('5f9d069cf925a333cd33d551'), 'Country': None, 'Date': '2020-10-31', 'Confirmed_Daily': '26106', 'Deaths_Daily': '563', 'Recovered_Daily': '34753'}
{'_id': ObjectId('5f9d069cf925a333cd33d552'), 'Country': None, 'Date': '2020-10-31', 'Confirmed_Daily': '18283', 'Deaths_Daily': '464', 'Recovered_Daily': '14519'}
{'_id': ObjectId('5f9d069cf925a333cd33d553'), 'Country': None, 'Date': '2020-10-31', 'Confirmed_Daily': '47637', 'Deaths_Daily': '274', 'Recovered_Daily': '14987'}

In [ ]:
# DB Insert Process(df_cumulated)

In [66]:
df_cumulated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    23 non-null     object
 1   Confirmed  23 non-null     int64
 2   Deaths     23 non-null     int64
 3   Recovered  23 non-null     int64
dtypes: int64(3), object(1)
memory usage: 864.0+ bytes

In [67]:
for elem in df_cumulated.iloc[0]: print(str(elem))

United States
8946876
228669
7373375

In [68]:
db_cumulated = db['cumulated']

In [69]:
doc = {col: None for col in df_daily.columns} 
doc

{'Country': None,
 'Date': None,
 'Confirmed_Daily': None,
 'Deaths_Daily': None,
 'Recovered_Daily': None}

In [70]:
for i in range(len(df_cumulated)): 
    row = df_daily.iloc[i] 
    doc['Country'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = v 
    print(doc)

{'Country': 'United', 'Date': '2020-10-31', 'Confirmed_Daily': 90463, 'Deaths_Daily': 984, 'Recovered_Daily': 57386}
{'Country': 'India', 'Date': '2020-10-31', 'Confirmed_Daily': 48648, 'Deaths_Daily': 513, 'Recovered_Daily': 19611}
{'Country': 'Brazil', 'Date': '2020-10-31', 'Confirmed_Daily': 26106, 'Deaths_Daily': 563, 'Recovered_Daily': 34753}
{'Country': 'Russia', 'Date': '2020-10-31', 'Confirmed_Daily': 18283, 'Deaths_Daily': 464, 'Recovered_Daily': 14519}
{'Country': 'France', 'Date': '2020-10-31', 'Confirmed_Daily': 47637, 'Deaths_Daily': 274, 'Recovered_Daily': 14987}
{'Country': 'Spain', 'Date': '2020-10-31', 'Confirmed_Daily': 25595, 'Deaths_Daily': 217, 'Recovered_Daily': 5028}
{'Country': 'Argentina', 'Date': '2020-10-31', 'Confirmed_Daily': 13924, 'Deaths_Daily': 239, 'Recovered_Daily': 1281}
{'Country': 'United', 'Date': '2020-10-31', 'Confirmed_Daily': 24405, 'Deaths_Daily': 235, 'Recovered_Daily': 4517}
{'Country': 'Mexico', 'Date': '2020-10-31', 'Confirmed_Daily': 5948, 'Deaths_Daily': 341, 'Recovered_Daily': 404}
{'Country': 'South', 'Date': '2020-10-31', 'Confirmed_Daily': 2056, 'Deaths_Daily': 355, 'Recovered_Daily': 4762}
{'Country': 'Italy', 'Date': '2020-10-31', 'Confirmed_Daily': 26829, 'Deaths_Daily': 53, 'Recovered_Daily': 1703}
{'Country': 'Germany', 'Date': '2020-10-31', 'Confirmed_Daily': 18681, 'Deaths_Daily': 89, 'Recovered_Daily': 3878}
{'Country': 'Indonesia', 'Date': '2020-10-31', 'Confirmed_Daily': 3565, 'Deaths_Daily': 77, 'Recovered_Daily': 2342}
{'Country': 'Turkey', 'Date': '2020-10-31', 'Confirmed_Daily': 2319, 'Deaths_Daily': 78, 'Recovered_Daily': 5593}
{'Country': 'Saudi', 'Date': '2020-10-31', 'Confirmed_Daily': 435, 'Deaths_Daily': 31, 'Recovered_Daily': 1310}
{'Country': 'Netherlands', 'Date': '2020-10-31', 'Confirmed_Daily': 934, 'Deaths_Daily': 66, 'Recovered_Daily': 568}
{'Country': 'Canada', 'Date': '2020-10-31', 'Confirmed_Daily': 2699, 'Deaths_Daily': 15, 'Recovered_Daily': 24}
{'Country': 'Switzerland', 'Date': '2020-10-31', 'Confirmed_Daily': 9361, 'Deaths_Daily': 1, 'Recovered_Daily': 9}
{'Country': 'Japan', 'Date': '2020-10-31', 'Confirmed_Daily': 770, 'Deaths_Daily': 31, 'Recovered_Daily': 7600}
{'Country': 'China', 'Date': '2020-10-31', 'Confirmed_Daily': 31, 'Deaths_Daily': 8, 'Recovered_Daily': 13}
{'Country': 'Singapore', 'Date': '2020-10-31', 'Confirmed_Daily': 7, 'Deaths_Daily': 2, 'Recovered_Daily': 59}
{'Country': 'Australia', 'Date': '2020-10-31', 'Confirmed_Daily': 15, 'Deaths_Daily': 1, 'Recovered_Daily': -10387}
{'Country': 'South', 'Date': '2020-10-31', 'Confirmed_Daily': 114, 'Deaths_Daily': 1, 'Recovered_Daily': -890}

In [71]:
# Method 1: inert one by one 
for i in range(len(df_cumulated)): 
    row = df_cumulated.iloc[i] 
    doc = {col: None for col in df_cumulated.columns} 
    doc['Country'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = str(v)
    db_cumulated.insert_one(doc)

In [72]:
# Method 2: inert all at once : Faster than one by one
doc_list_cumulated = list() 
for i in range(len(df_cumulated)): 
    row = df_cumulated.iloc[i] 
    doc = {col: None for col in df_cumulated.columns} 
    doc['Country'] = str(row[0]).split()[0]
    for k, v in zip(list(doc.keys())[1:], row[1:]): doc[k] = str(v)
    doc_list_cumulated.append(doc)

In [78]:
doc_list_cumulated

[{'Country': 'United',
  'Confirmed': '8946876',
  'Deaths': '228669',
  'Recovered': '7373375'},
 {'Country': 'India',
  'Confirmed': '8088851',
  'Deaths': '158969',
  'Recovered': '4954159'},
 {'Country': 'Brazil',
  'Confirmed': '5494376',
  'Deaths': '121090',
  'Recovered': '3963256'},
 {'Country': 'Russia',
  'Confirmed': '1599976',
  'Deaths': '90773',
  'Recovered': '1200560'},
 {'Country': 'France',
  'Confirmed': '1250705',
  'Deaths': '46229',
  'Recovered': '946134'},
 {'Country': 'Spain',
  'Confirmed': '1185678',
  'Deaths': '38122',
  'Recovered': '668667'},
 {'Country': 'Argentina',
  'Confirmed': '1130533',
  'Deaths': '35878',
  'Recovered': '649935'},
 {'Country': 'United',
  'Confirmed': '989745',
  'Deaths': '35719',
  'Recovered': '334295'},
 {'Country': 'Mexico',
  'Confirmed': '912811',
  'Deaths': '30071',
  'Recovered': '333409'},
 {'Country': 'South',
  'Confirmed': '721770',
  'Deaths': '27656',
  'Recovered': '329068'},
 {'Country': 'Italy',
  'Confirmed': '616595',
  'Deaths': '19164',
  'Recovered': '322465'},
 {'Country': 'Germany',
  'Confirmed': '499694',
  'Deaths': '13701',
  'Recovered': '279282'},
 {'Country': 'Indonesia',
  'Confirmed': '404048',
  'Deaths': '10349',
  'Recovered': '191209'},
 {'Country': 'Turkey',
  'Confirmed': '370832',
  'Deaths': '10177',
  'Recovered': '150376'},
 {'Country': 'Saudi',
  'Confirmed': '346482',
  'Deaths': '10032',
  'Recovered': '115287'},
 {'Country': 'Netherlands',
  'Confirmed': '330255',
  'Deaths': '7258',
  'Recovered': '92549'},
 {'Country': 'Canada',
  'Confirmed': '225586',
  'Deaths': '5363',
  'Recovered': '80967'},
 {'Country': 'Switzerland',
  'Confirmed': '144558',
  'Deaths': '4634',
  'Recovered': '57899'},
 {'Country': 'Japan',
  'Confirmed': '99622',
  'Deaths': '1984',
  'Recovered': '34400'},
 {'Country': 'China',
  'Confirmed': '91852',
  'Deaths': '1769',
  'Recovered': '25080'},
 {'Country': 'Singapore',
  'Confirmed': '57994',
  'Deaths': '907',
  'Recovered': '24227'},
 {'Country': 'Australia',
  'Confirmed': '27569',
  'Deaths': '463',
  'Recovered': '344'},
 {'Country': 'South',
  'Confirmed': '26385',
  'Deaths': '28',
  'Recovered': '250'}]

In [79]:
for elem in db_cumulated.find({})[:5]: print(elem)

{'_id': ObjectId('5f9d0848f925a333cd33d594'), 'Country': 'United', 'Confirmed': '8946876', 'Deaths': '228669', 'Recovered': '7373375'}
{'_id': ObjectId('5f9d0849f925a333cd33d595'), 'Country': 'India', 'Confirmed': '8088851', 'Deaths': '158969', 'Recovered': '4954159'}
{'_id': ObjectId('5f9d0849f925a333cd33d596'), 'Country': 'Brazil', 'Confirmed': '5494376', 'Deaths': '121090', 'Recovered': '3963256'}
{'_id': ObjectId('5f9d0849f925a333cd33d597'), 'Country': 'Russia', 'Confirmed': '1599976', 'Deaths': '90773', 'Recovered': '1200560'}
{'_id': ObjectId('5f9d084af925a333cd33d598'), 'Country': 'France', 'Confirmed': '1250705', 'Deaths': '46229', 'Recovered': '946134'}